In [1]:
print('hello world')

hello world

In [11]:
import numpy as np
import pandas as pd

gold=pd.read_csv('xauusd_y.csv')
silver=pd.read_csv('xagusd_y.csv')
inflation=pd.read_csv('adjusted-inflation-data-csv.txt')

         Date    Open   High    Low  Close
0  1990-12-31  406.00  430.3  348.2  396.2
1  1991-12-31  397.00  406.9  346.0  355.2
2  1992-12-31  355.70  363.9  328.9  333.1
3  1993-12-31  333.50  414.0  325.8  390.5
4  1994-12-31  390.55  398.1  368.2  382.6
          Date     Open     High       Low     Close
29  2019-12-31  1282.60  1557.10  1266.480  1517.305
30  2020-12-31  1518.17  2075.11  1451.280  1898.705
31  2021-12-31  1903.49  1959.11  1671.900  1829.500
32  2022-12-31  1830.05  2069.94  1614.905  1823.480
33  2023-12-31  1828.86  2144.83  1805.100  2063.235
         Date  Open  High   Low  Close
0  1990-12-31  5.28  5.45  3.98   4.25
1  1991-12-31  4.25  4.64  3.50   3.91
2  1992-12-31  3.92  4.41  3.63   3.69
3  1993-12-31  3.69  5.47  3.51   5.10
4  1994-12-31  5.10  5.85  4.52   4.88
          Date     Open     High      Low    Close
29  2019-12-31  15.4885  19.6500  14.3000  17.8530
30  2020-12-31  17.8535  29.8600  11.5895  26.3890
31  2021-12-31  26.6400  30.0300  21.4225  23.2665
32  2022-12-31  23.3420  26.9295  17.5665  23.9350
33  2023-12-31  24.1050  26.1370  19.9050  23.7955
         DATE  FPCPITOTLZGUSA
0  1990-01-01        5.397956
1  1991-01-01        4.234964
2  1992-01-01        3.028820
3  1993-01-01        2.951657
4  1994-01-01        2.607442
          DATE  FPCPITOTLZGUSA
29  2019-01-01        1.812210
30  2020-01-01        1.233584
31  2021-01-01        4.697859
32  2022-01-01        8.002800
33  2023-01-01        4.116338

In [12]:
print(inflation.head())

         DATE  FPCPITOTLZGUSA
0  1990-01-01        5.397956
1  1991-01-01        4.234964
2  1992-01-01        3.028820
3  1993-01-01        2.951657
4  1994-01-01        2.607442

In [13]:
inflation=inflation.rename(columns={'DATE':'Date','FPCPITOTLZGUSA':'Inflation'})

In [15]:

inflation_df = pd.concat({'Date': gold['Date'],
                          'Gold': gold['Close'], 
                          'Silver': silver['Close'], 
                          'Inflation': inflation['Inflation']}, 
                         axis=1, 
                         join='inner')


inflation_df.set_index('Date', inplace=True)
print(inflation_df.head())

             Gold  Silver  Inflation
Date
1990-12-31  396.2    4.25   5.397956
1991-12-31  355.2    3.91   4.234964
1992-12-31  333.1    3.69   3.028820
1993-12-31  390.5    5.10   2.951657
1994-12-31  382.6    4.88   2.607442

In [16]:
print(inflation_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 34 entries, 1990-12-31 to 2023-12-31
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Gold       34 non-null     float64
 1   Silver     34 non-null     float64
 2   Inflation  34 non-null     float64
dtypes: float64(3)
memory usage: 1.1+ KB
None

In [17]:
inflation_df.to_csv('inflation_vs_metals.csv')

In [19]:
dollar_index=pd.read_csv('real_dollar_index.csv')
print(dollar_index.head())
print(dollar_index.tail())

         DATE  RTWEXBGS
0  2006-01-01  100.0000
1  2006-02-01  100.2388
2  2006-03-01  100.5281
3  2006-04-01  100.0305
4  2006-05-01   97.8471
           DATE  RTWEXBGS
200  2022-09-01  119.5125
201  2022-10-01  121.0698
202  2022-11-01  118.5553
203  2022-12-01  116.0265
204  2023-01-01  113.9178

In [21]:
dollar_index=dollar_index.rename(columns={'DATE':'Date','RTWEXBGS':'Index'})
print(dollar_index.head())

         Date     Index
0  2006-01-01  100.0000
1  2006-02-01  100.2388
2  2006-03-01  100.5281
3  2006-04-01  100.0305
4  2006-05-01   97.8471

In [33]:
gold_close=pd.read_csv('gold_monthly_close_csv.txt')
silver_close=pd.read_csv('silver_monthly_close_csv.txt')
print(gold_close.head(),silver_close.head())

         DATE   Close
0  2006-01-01  570.10
1  2006-02-01  561.30
2  2006-03-01  580.90
3  2006-04-01  649.95
4  2006-05-01  644.00          DATE  Close
0  2006-01-01   9.84
1  2006-02-01   9.73
2  2006-03-01  11.45
3  2006-04-01  13.56
4  2006-05-01  12.50

In [34]:
final_dollar_vs_metals=pd.concat({'Date': gold_close['DATE'],
                                  'Gold_close': gold_close['Close'],
                                  'Silver_close': silver_close['Close'],
                                  "Index": dollar_index['Index']}, axis=1, join='inner')

print(final_dollar_vs_metals.head())
print(final_dollar_vs_metals.info())

         Date  Gold_close  Silver_close     Index
0  2006-01-01      570.10          9.84  100.0000
1  2006-02-01      561.30          9.73  100.2388
2  2006-03-01      580.90         11.45  100.5281
3  2006-04-01      649.95         13.56  100.0305
4  2006-05-01      644.00         12.50   97.8471
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          205 non-null    object
 1   Gold_close    205 non-null    float64
 2   Silver_close  205 non-null    float64
 3   Index         205 non-null    float64
dtypes: float64(3), object(1)
memory usage: 6.5+ KB
None

In [35]:
final_dollar_vs_metals.set_index('Date', inplace=True)

In [36]:
print(final_dollar_vs_metals.info())

<class 'pandas.core.frame.DataFrame'>
Index: 205 entries, 2006-01-01 to 2023-01-01
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Gold_close    205 non-null    float64
 1   Silver_close  205 non-null    float64
 2   Index         205 non-null    float64
dtypes: float64(3)
memory usage: 6.4+ KB
None

In [31]:
for column in (gold_close, silver_close,dollar_index):
    print(column.isnull().sum())

DATE     0
Close    0
dtype: int64
DATE     0
Close    0
dtype: int64
Date     0
Index    0
dtype: int64

In [37]:
final_dollar_vs_metals.to_csv('final_dollar_vs_metals.csv')