In [3]:
print("hello world")
from datetime import datetime, timedelta

hello world

In [4]:
import pandas as pd
import numpy as np
xauusd = pd.read_csv("xauusd_d.csv",parse_dates=["Date"],index_col="Date")
xagusd = pd.read_csv("xagusd_d.csv",parse_dates=["Date"],index_col="Date")
ndq = pd.read_csv("ndq_d.csv",parse_dates=["Date"],index_col="Date")
spx = pd.read_csv("spx_d.csv",parse_dates=["Date"],index_col="Date")

In [5]:
print(xauusd.info())
print(xagusd.info())
print(ndq.info())
print(spx.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8914 entries, 1990-01-02 to 2024-09-10
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    8914 non-null   float64
 1   High    8914 non-null   float64
 2   Low     8914 non-null   float64
 3   Close   8914 non-null   float64
dtypes: float64(4)
memory usage: 348.2 KB
None
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8858 entries, 1990-01-02 to 2024-09-10
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    8858 non-null   float64
 1   High    8858 non-null   float64
 2   Low     8858 non-null   float64
 3   Close   8858 non-null   float64
dtypes: float64(4)
memory usage: 346.0 KB
None
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8741 entries, 1990-01-02 to 2024-09-10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    8741 non-null   float64
 1   High    8741 non-null   float64
 2   Low     8741 non-null   float64
 3   Close   8741 non-null   float64
 4   Volume  8741 non-null   float64
dtypes: float64(5)
memory usage: 409.7 KB
None
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8739 entries, 1990-01-02 to 2024-09-10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    8739 non-null   float64
 1   High    8739 non-null   float64
 2   Low     8739 non-null   float64
 3   Close   8739 non-null   float64
 4   Volume  8739 non-null   float64
dtypes: float64(5)
memory usage: 409.6 KB
None

In [6]:
for df in(xauusd,xagusd,ndq,spx):
    print(df.head())

              Open    High     Low  Close
Date
1990-01-02  406.00  406.00  400.20  402.1
1990-01-03  403.00  403.00  394.50  396.4
1990-01-04  397.25  401.10  397.10  400.8
1990-01-05  401.15  409.50  401.15  408.5
1990-01-08  409.25  409.25  404.70  405.0
            Open  High   Low  Close
Date
1990-01-02  5.28  5.35  5.22   5.25
1990-01-03  5.26  5.26  5.18   5.22
1990-01-04  5.22  5.35  5.22   5.33
1990-01-05  5.34  5.40  5.28   5.38
1990-01-08  5.39  5.39  5.31   5.31
             Open   High    Low  Close       Volume
Date
1990-01-02  452.9  459.3  452.7  459.3  102969600.0
1990-01-03  461.1  461.6  460.0  460.9  141973800.0
1990-01-04  460.4  460.8  456.9  459.4  137593500.0
1990-01-05  457.9  459.4  457.8  458.2  127623900.0
1990-01-08  457.1  458.7  456.5  458.7  107415000.0
              Open    High     Low   Close       Volume
Date
1990-01-02  353.40  359.69  351.98  359.69   90038889.0
1990-01-03  359.69  360.59  357.89  358.76  106850000.0
1990-01-04  358.76  358.76  352.89  355.67   98333333.0
1990-01-05  355.67  355.67  351.35  352.20   88072222.0
1990-01-08  352.20  354.24  350.54  353.79   77838889.0

In [7]:
xauusd_close=xauusd[["Close"]].rename(columns={"Close":"Gold_close"})
xagusd_close=xagusd[["Close"]].rename(columns={"Close":"Silver_close"})
spx_close=spx[["Close"]].rename(columns={"Close":"Spx_close"})
ndq_close=ndq[["Close"]].rename(columns={"Close":"Nasdaq_close"})

merged_close_df= pd.concat([xauusd_close,xagusd_close,ndq_close,spx_close],axis=1,join="outer")

print(merged_close_df.head())

            Gold_close  Silver_close  Nasdaq_close  Spx_close
Date
1990-01-02       402.1          5.25         459.3     359.69
1990-01-03       396.4          5.22         460.9     358.76
1990-01-04       400.8          5.33         459.4     355.67
1990-01-05       408.5          5.38         458.2     352.20
1990-01-08       405.0          5.31         458.7     353.79

In [8]:
merged_close_df.to_csv("merged_close_df.csv")

In [9]:
merged_close_interpolated_df= merged_close_df.interpolate(method="linear")
print(merged_close_interpolated_df.head())
merged_close_interpolated_df.to_csv("merged_close_interpolated_df.csv")

            Gold_close  Silver_close  Nasdaq_close  Spx_close
Date
1990-01-02       402.1          5.25         459.3     359.69
1990-01-03       396.4          5.22         460.9     358.76
1990-01-04       400.8          5.33         459.4     355.67
1990-01-05       408.5          5.38         458.2     352.20
1990-01-08       405.0          5.31         458.7     353.79

In [10]:
corr_df=pd.concat([xauusd_close,xagusd_close],axis=1,join="outer")
print(corr_df.head())

            Gold_close  Silver_close
Date
1990-01-02       402.1          5.25
1990-01-03       396.4          5.22
1990-01-04       400.8          5.33
1990-01-05       408.5          5.38
1990-01-08       405.0          5.31

In [14]:
latest_date=corr_df.index[-1]
one_year_ago=latest_date - timedelta(days=365)
last_year=corr_df.loc[one_year_ago:]


silver_gold_corr = last_year['Gold_close'].rolling(window=30).corr(last_year['Silver_close'])
final_corr_df= pd.DataFrame({'Date':silver_gold_corr.index,'Correlation':silver_gold_corr.values})
final_corr_df=final_corr_df.dropna()

final_corr_df.set_index('Date',inplace=True)
print(final_corr_df.info())
print(final_corr_df.head())
final_corr_df.to_csv("final_corr_df.csv")

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 230 entries, 2023-10-20 to 2024-09-10
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Correlation  230 non-null    float64
dtypes: float64(1)
memory usage: 3.6 KB
None
            Correlation
Date
2023-10-20     0.900324
2023-10-23     0.886500
2023-10-24     0.877313
2023-10-25     0.863122
2023-10-26     0.845135

In [12]:
print(final_corr_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 230 entries, 29 to 258
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         230 non-null    datetime64[ns]
 1   Correlation  230 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 5.4 KB
None

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 230 entries, 2023-10-20 to 2024-09-10
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Correlation  230 non-null    float64
dtypes: float64(1)
memory usage: 3.6 KB
None